Repository geins-io/ralph-module-voyado-elevate: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, commitlint -E HUSKY_GIT_PARAMS

.lintstagedrc:

{
  "*.js": [
    "eslint --fix",
    "git add"
  ],
  "*.json": [
    "prettier --write",
    "git add"
  ],
  "*.vue": [
    "eslint --fix",
    "prettier --write",
    "git add"
  ],
  "*.{js,json,vue}": [
    "commitlint -E HUSKY_GIT_PARAMS"
  ]
}

feat: bump to 5.2.0
  package-lock.json
  package.json
Due: prettier --write, commitlint -E HUSKY_GIT_PARAMS

feat: support for different price types (sale or campaign)
  lib/components/molecules/VoyadoSearchForm/VoyadoSearchForm.vue
  lib/components/molecules/VoyadoSearchProductResults/VoyadoSearchProductResults.vue
Due: eslint --fix, prettier --write, commitlint -E HUSKY_GIT_PARAMS

feat: bump to 5.3.0
  package-lock.json
  package.json
Due: prettier --write, commitlint -E HUSKY_GIT_PARAMS

fix: added conditional check for productKey to prevent sending invalid requests
  lib/module.plugin.js
Due: eslint --fix, commitlint -E HUSKY_GIT_PARAMS

fix: bump to 5.3.1
  package-lock.json
  package.json
Due: prettier --write, commitlint -E HUSKY_GIT_PARAMS

feat(VoyadoSearchProductResults): display selling & discount price
  lib/components/molecules/VoyadoSearchProductResults/VoyadoSearchProductResults.vue
Due: eslint --fix, prettier --write, commitlint -E HUSKY_GIT_PARAMS

feat: bump to 5.4.0
  package-lock.json
  package.json
Due: prettier --write, commitlint -E HUSKY_GIT_PARAMS

feat: introducing lowestPrice
  lib/components/molecules/VoyadoSearchForm/VoyadoSearchForm.vue
  lib/components/molecules/VoyadoSearchProductResults/VoyadoSearchProductResults.vue
  lib/module.plugin.js
Due: eslint --fix, prettier --write, commitlint -E HUSKY_GIT_PARAMS

feat: bump to 5.5.0
  package-lock.json
  package.json
Due: prettier --write, commitlint -E HUSKY_GIT_PARAMS

fix: prevent env from crashing if lowestPrice is undefined
  lib/components/molecules/VoyadoSearchProductResults/VoyadoSearchProductResults.vue
Due: eslint --fix, prettier --write, commitlint -E HUSKY_GIT_PARAMS

fix: fallback value if lowestPrice doesn't exist/or undefined
  lib/components/molecules/VoyadoSearchProductResults/VoyadoSearchProductResults.vue
Due: eslint --fix, prettier --write, commitlint -E HUSKY_GIT_PARAMS

fix: bump to 5.5.1
  package-lock.json
  package.json
Due: prettier --write, commitlint -E HUSKY_GIT_PARAMS

fix: display prices as before
  lib/components/molecules/VoyadoSearchProductResults/VoyadoSearchProductResults.vue
Due: eslint --fix, prettier --write, commitlint -E HUSKY_GIT_PARAMS

chore: bump to dev version 5.5.2-dev.0
  package-lock.json
  package.json
Due: prettier --write, commitlint -E HUSKY_GIT_PARAMS
