Repository geins-io/ralph-module-voyado-elevate: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, commitlint -E HUSKY_GIT_PARAMS

.lintstagedrc:

{
  "*.js": [
    "eslint --fix",
    "git add"
  ],
  "*.json": [
    "prettier --write",
    "git add"
  ],
  "*.vue": [
    "eslint --fix",
    "prettier --write",
    "git add"
  ],
  "*.{js,json,vue}": [
    "commitlint -E HUSKY_GIT_PARAMS"
  ]
}

feat: voyado notifications
  README.md
  lib/components/mixins/VoyadoProductPage.js
  lib/components/molecules/VoyadoRecommendations/VoyadoRecommendations.vue
  lib/components/molecules/VoyadoSearchListResults/VoyadoSearchListResults.vue
  lib/components/molecules/VoyadoSearchPage/VoyadoSearchPage.vue
  lib/module.js
  lib/module.plugin.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, commitlint -E HUSKY_GIT_PARAMS

feat: voyado notifications (#4)
  README.md
  lib/components/mixins/VoyadoProductPage.js
  lib/components/molecules/VoyadoRecommendations/VoyadoRecommendations.vue
  lib/components/molecules/VoyadoSearchListResults/VoyadoSearchListResults.vue
  lib/components/molecules/VoyadoSearchPage/VoyadoSearchPage.vue
  lib/module.js
  lib/module.plugin.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, commitlint -E HUSKY_GIT_PARAMS

fix: trying to resolve webpack issues
  lib/components/mixins/VoyadoProductPage.mjs
  package-lock.json
  package.json
Due: prettier --write, commitlint -E HUSKY_GIT_PARAMS

fix: try to resolve problems
  lib/components/mixins/VoyadoProductPage.js
  lib/components/mixins/VoyadoProductPage.mjs
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, commitlint -E HUSKY_GIT_PARAMS

fix: encode search string
  lib/components/molecules/VoyadoSearchForm/VoyadoSearchForm.vue
  lib/components/molecules/VoyadoSearchPage/VoyadoSearchPage.vue
Due: eslint --fix, prettier --write, commitlint -E HUSKY_GIT_PARAMS

fix: use encodeURIComponent
  lib/components/molecules/VoyadoSearchForm/VoyadoSearchForm.vue
  lib/components/molecules/VoyadoSearchPage/VoyadoSearchPage.vue
Due: eslint --fix, prettier --write, commitlint -E HUSKY_GIT_PARAMS

fix: namespace modulename feat: introducing voyadoAdd feat: add merchantData
  lib/module.js
  lib/module.plugin.js
Due: eslint --fix, commitlint -E HUSKY_GIT_PARAMS

chore: update version
  package-lock.json
  package.json
Due: prettier --write, commitlint -E HUSKY_GIT_PARAMS

feat: encode option
  README.md
  lib/components/molecules/VoyadoSearchForm/VoyadoSearchForm.vue
  lib/components/molecules/VoyadoSearchPage/VoyadoSearchPage.vue
  lib/module.js
Due: eslint --fix, prettier --write, commitlint -E HUSKY_GIT_PARAMS

fix: revert encoding search string
  README.md
  lib/components/molecules/VoyadoSearchForm/VoyadoSearchForm.vue
  lib/components/molecules/VoyadoSearchPage/VoyadoSearchPage.vue
  lib/module.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, commitlint -E HUSKY_GIT_PARAMS

feat: add option pdpRecommendationLimit + add rec rule
  README.md
  lib/components/molecules/VoyadoRecommendations/VoyadoRecommendations.vue
  lib/module.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, commitlint -E HUSKY_GIT_PARAMS

fix: fallback for favorite key
  lib/module.plugin.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, commitlint -E HUSKY_GIT_PARAMS

feat: product card mixin + data transform
  lib/components/mixins/VoyadoProductCard.js
  lib/components/molecules/VoyadoSearchPage/VoyadoSearchPage.vue
  lib/module.js
  lib/module.plugin.js
Due: eslint --fix, prettier --write, commitlint -E HUSKY_GIT_PARAMS

feat: voyado list page progress
  lib/components/molecules/VoyadoRecommendations/VoyadoRecommendations.vue
  lib/components/organisms/VoyadoFilterPanel/VoyadoFilterPanel.vue
  lib/components/organisms/VoyadoListPage/VoyadoListPage.vue
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, commitlint -E HUSKY_GIT_PARAMS

feat: implementing facets
  lib/components/molecules/VoyadoFilterMulti/VoyadoFilterMulti.vue
  lib/components/organisms/VoyadoFilterPanel/VoyadoFilterPanel.vue
  lib/components/organisms/VoyadoListPage/VoyadoListPage.vue
  lib/module.plugin.js
Due: eslint --fix, prettier --write, commitlint -E HUSKY_GIT_PARAMS

fix: trim product key
  lib/components/molecules/VoyadoRecommendations/VoyadoRecommendations.vue
  lib/components/molecules/VoyadoSearchPage/VoyadoSearchPage.vue
  lib/components/organisms/VoyadoFilterPanel/VoyadoFilterPanel.vue
  lib/components/organisms/VoyadoListPage/VoyadoListPage.vue
Due: eslint --fix, prettier --write, commitlint -E HUSKY_GIT_PARAMS

fix: remove console logs
  lib/components/organisms/VoyadoFilterPanel/VoyadoFilterPanel.vue
  lib/components/organisms/VoyadoListPage/VoyadoListPage.vue
Due: eslint --fix, prettier --write, commitlint -E HUSKY_GIT_PARAMS

feat: productRules as prop + VoyadoListPage mixin
  README.md
  lib/components/mixins/VoyadoListPage.js
  lib/components/molecules/VoyadoRecommendations/VoyadoRecommendations.vue
  lib/module.js
Due: eslint --fix, prettier --write, commitlint -E HUSKY_GIT_PARAMS

fix: restore deprecated VoyadoSearchPage
  lib/components/molecules/VoyadoSearchPage/VoyadoSearchPage.vue
Due: eslint --fix, prettier --write, commitlint -E HUSKY_GIT_PARAMS

feat: productRules as prop for recommendations fix: trim productKey
  lib/components/molecules/VoyadoRecommendations/VoyadoRecommendations.vue
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, commitlint -E HUSKY_GIT_PARAMS

fix: remove new mixins until fixed
  lib/module.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, commitlint -E HUSKY_GIT_PARAMS

feat: adding custom attribute for variant dimensions + removing optional chaining
  README.md
  lib/components/mixins/VoyadoListPage.js
  lib/components/mixins/VoyadoProductCard.js
  lib/components/molecules/VoyadoRecommendations/VoyadoRecommendations.vue
  lib/components/molecules/VoyadoSearchPage/VoyadoSearchPage.vue
  lib/module.js
  lib/module.plugin.js
  package.json
Due: eslint --fix, prettier --write, commitlint -E HUSKY_GIT_PARAMS

feat: show sort at top
  lib/components/organisms/VoyadoFilterPanel/VoyadoFilterPanel.vue
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, commitlint -E HUSKY_GIT_PARAMS

fix: expose key in product object and use for favorite
  lib/components/mixins/VoyadoProductPage.js
  lib/module.plugin.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, commitlint -E HUSKY_GIT_PARAMS

chore: update version number
  package-lock.json
  package.json
Due: prettier --write, commitlint -E HUSKY_GIT_PARAMS

refactor: deprecating voyado-search-page
  lib/components/molecules/VoyadoSearchPage/VoyadoSearchPage.vue
Due: eslint --fix, prettier --write, commitlint -E HUSKY_GIT_PARAMS

fix: fixing bug with some facets in url chore: update readme + moving file
  README.md
  lib/components/mixins/VoyadoListPage.js
  lib/components/organisms/VoyadoRecommendations/VoyadoRecommendations.vue
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, commitlint -E HUSKY_GIT_PARAMS

fix: heading error in README
  README.md
  package-lock.json
  package.json
Due: prettier --write, commitlint -E HUSKY_GIT_PARAMS

fix: always use brand from ralph_data
  README.md
  lib/module.plugin.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, commitlint -E HUSKY_GIT_PARAMS

fix: enabling routing between filtered lists on same page
  lib/components/mixins/VoyadoListPage.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, commitlint -E HUSKY_GIT_PARAMS

feat: custom field for ralph_data_product_images
  lib/components/mixins/VoyadoListPage.js
  lib/components/organisms/VoyadoRecommendations/VoyadoRecommendations.vue
  lib/module.plugin.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, commitlint -E HUSKY_GIT_PARAMS

docs: added docs
  README.md
Due: none

fix(VoyadoListPage): reset userSkip/pagenr on filter/sort
  lib/components/mixins/VoyadoListPage.js
Due: eslint --fix, commitlint -E HUSKY_GIT_PARAMS

feat: bump to 5.1.1
  package-lock.json
  package.json
Due: prettier --write, commitlint -E HUSKY_GIT_PARAMS

chore: bump to 5.1.2
  package-lock.json
  package.json
Due: prettier --write, commitlint -E HUSKY_GIT_PARAMS

feat(VoyadoRecommendations): extended support for displaying products in rows
  README.md
  lib/components/organisms/VoyadoRecommendations/VoyadoRecommendations.vue
Due: eslint --fix, prettier --write, commitlint -E HUSKY_GIT_PARAMS

refactor(VoyadoRecommendations): renamed prop
  README.md
  lib/components/organisms/VoyadoRecommendations/VoyadoRecommendations.vue
Due: eslint --fix, prettier --write, commitlint -E HUSKY_GIT_PARAMS
