Repository geins-io/ralph-module-voyado-elevate: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, commitlint -E HUSKY_GIT_PARAMS

.lintstagedrc:

{
  "*.js": [
    "eslint --fix",
    "git add"
  ],
  "*.json": [
    "prettier --write",
    "git add"
  ],
  "*.vue": [
    "eslint --fix",
    "prettier --write",
    "git add"
  ],
  "*.{js,json,vue}": [
    "commitlint -E HUSKY_GIT_PARAMS"
  ]
}

chore: updated README
  README.md
Due: none

chore: updated README with TODOs
  README.md
  lib/components/molecules/VoyadoSearchResults/VoyadoSearchResults.vue
Due: eslint --fix, prettier --write, commitlint -E HUSKY_GIT_PARAMS

feat: global $voyado options + default fallback for props
  lib/components/mixins/VoyadoProps.mjs
  lib/components/molecules/VoyadoSearchForm/VoyadoSearchForm.vue
  lib/components/organisms/VoyadoSearch/VoyadoSearch.vue
  lib/module.js
  lib/module.plugin.js
Due: eslint --fix, prettier --write, commitlint -E HUSKY_GIT_PARAMS

fix: correct product image sizes + introduced workspace file
  lib/components/molecules/VoyadoSearchProductResults/VoyadoSearchProductResults.vue
  ralph-module-voyado-elevate.code-workspace
Due: eslint --fix, prettier --write, commitlint -E HUSKY_GIT_PARAMS

feat: suggestions progress
  lib/components/molecules/VoyadoSearchForm/VoyadoSearchForm.vue
  lib/components/molecules/VoyadoSearchResults/VoyadoSearchResults.vue
  lib/components/organisms/VoyadoSearch/VoyadoSearch.vue
Due: eslint --fix, prettier --write, commitlint -E HUSKY_GIT_PARAMS

feat: search suggestions and products
  lib/components/molecules/VoyadoSearchForm/VoyadoSearchForm.vue
  lib/components/molecules/VoyadoSearchProductResults/VoyadoSearchProductResults.vue
  lib/components/molecules/VoyadoSearchResults/VoyadoSearchResults.vue
  lib/components/organisms/VoyadoSearch/VoyadoSearch.vue
Due: eslint --fix, prettier --write, commitlint -E HUSKY_GIT_PARAMS

fix: for mobile
  lib/components/molecules/VoyadoSearchForm/VoyadoSearchForm.vue
  lib/components/molecules/VoyadoSearchResults/VoyadoSearchResults.vue
  lib/components/organisms/VoyadoSearch/VoyadoSearch.vue
Due: eslint --fix, prettier --write, commitlint -E HUSKY_GIT_PARAMS

fix: go to search page
  lib/components/molecules/VoyadoSearchResults/VoyadoSearchResults.vue
  lib/components/organisms/VoyadoSearch/VoyadoSearch.vue
Due: eslint --fix, prettier --write, commitlint -E HUSKY_GIT_PARAMS

feat: new component VoyadoSearchListResults
  lib/components/molecules/VoyadoSearchListResults/VoyadoSearchListResults.vue
  lib/components/molecules/VoyadoSearchResults/VoyadoSearchResults.vue
Due: eslint --fix, prettier --write, commitlint -E HUSKY_GIT_PARAMS

fix: readme update
  README.md
  lib/components/organisms/VoyadoSearch/VoyadoSearch.vue
  package.json
Due: eslint --fix, prettier --write, commitlint -E HUSKY_GIT_PARAMS

Create npm-publish.yml
  .github/workflows/npm-publish.yml
Due: none

fix: removed TODO from README
  README.md
Due: none

fix: update to package.json and README
  README.md
  package-lock.json
  package.json
Due: prettier --write, commitlint -E HUSKY_GIT_PARAMS

fix: some adjustments to README
  README.md
  package.json
Due: prettier --write, commitlint -E HUSKY_GIT_PARAMS

fix: dependencies
  package-lock.json
  package.json
Due: prettier --write, commitlint -E HUSKY_GIT_PARAMS

fix: update module name in imports
  lib/components/molecules/VoyadoSearchForm/VoyadoSearchForm.vue
  lib/components/organisms/VoyadoSearch/VoyadoSearch.vue
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, commitlint -E HUSKY_GIT_PARAMS

fix: change to mixin
  lib/components/mixins/VoyadoProps.js
  lib/components/molecules/VoyadoSearchForm/VoyadoSearchForm.vue
  lib/components/organisms/VoyadoSearch/VoyadoSearch.vue
Due: eslint --fix, prettier --write, commitlint -E HUSKY_GIT_PARAMS

fix: update version
  package-lock.json
  package.json
Due: prettier --write, commitlint -E HUSKY_GIT_PARAMS

fix: change back for mixin
  lib/components/mixins/VoyadoProps.mjs
  lib/components/molecules/VoyadoSearchForm/VoyadoSearchForm.vue
  lib/components/organisms/VoyadoSearch/VoyadoSearch.vue
Due: eslint --fix, prettier --write, commitlint -E HUSKY_GIT_PARAMS

fix: renaming and fallback for props
  README.md
  lib/components/mixins/VoyadoProps.mjs
  lib/components/molecules/VoyadoSearchForm/VoyadoSearchForm.vue
  lib/components/organisms/VoyadoSearch/VoyadoSearch.vue
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, commitlint -E HUSKY_GIT_PARAMS

fix: remove mixin
  lib/components/mixins/VoyadoProps.mjs
  lib/components/organisms/VoyadoSearch/VoyadoSearch.vue
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, commitlint -E HUSKY_GIT_PARAMS

feat: added event push on search click
  lib/components/molecules/VoyadoSearchListResults/VoyadoSearchListResults.vue
  lib/components/molecules/VoyadoSearchProductResults/VoyadoSearchProductResults.vue
  lib/components/molecules/VoyadoSearchResults/VoyadoSearchResults.vue
  lib/components/organisms/VoyadoSearch/VoyadoSearch.vue
  lib/module.plugin.js
Due: eslint --fix, prettier --write, commitlint -E HUSKY_GIT_PARAMS

chore: change ver
  package-lock.json
  package.json
Due: prettier --write, commitlint -E HUSKY_GIT_PARAMS

fix: remove console log
  lib/module.plugin.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, commitlint -E HUSKY_GIT_PARAMS

feat: recommendations component
  lib/components/molecules/VoyadoProductPageRecommendations/VoyadoProductPageRecommendations.vue
  lib/module.js
  lib/module.plugin.js
Due: eslint --fix, prettier --write, commitlint -E HUSKY_GIT_PARAMS

fix: recent searches fix
  lib/components/molecules/VoyadoSearchListResults/VoyadoSearchListResults.vue
  lib/components/molecules/VoyadoSearchPage/VoyadoSearchPage.vue
  lib/components/organisms/VoyadoSearch/VoyadoSearch.vue
Due: eslint --fix, prettier --write, commitlint -E HUSKY_GIT_PARAMS

feat: progress
  lib/components/molecules/VoyadoSearchPage/VoyadoSearchPage.vue
Due: eslint --fix, prettier --write, commitlint -E HUSKY_GIT_PARAMS

feat: recs query
  lib/components/molecules/VoyadoProductPageRecommendations/VoyadoProductPageRecommendations.vue
Due: eslint --fix, prettier --write, commitlint -E HUSKY_GIT_PARAMS

feat: search page + recs
  README.md
  lib/components/molecules/VoyadoProductPageRecommendations/VoyadoProductPageRecommendations.vue
  lib/components/molecules/VoyadoSearchForm/VoyadoSearchForm.vue
  lib/components/molecules/VoyadoSearchPage/VoyadoSearchPage.vue
  lib/components/molecules/VoyadoSearchResults/VoyadoSearchResults.vue
  lib/components/organisms/VoyadoFilterPanel/VoyadoFilterPanel.vue
  lib/components/organisms/VoyadoSearch/VoyadoSearch.vue
  lib/module.plugin.js
Due: eslint --fix, prettier --write, commitlint -E HUSKY_GIT_PARAMS

feat: random titles
  README.md
  lib/components/molecules/VoyadoProductPageRecommendations/VoyadoProductPageRecommendations.vue
Due: eslint --fix, prettier --write, commitlint -E HUSKY_GIT_PARAMS

chore: update package nr
  package-lock.json
  package.json
Due: prettier --write, commitlint -E HUSKY_GIT_PARAMS

feat: pdp recommendations & search page (#3)
  README.md
  lib/components/molecules/VoyadoProductPageRecommendations/VoyadoProductPageRecommendations.vue
  lib/components/molecules/VoyadoSearchForm/VoyadoSearchForm.vue
  lib/components/molecules/VoyadoSearchListResults/VoyadoSearchListResults.vue
  lib/components/molecules/VoyadoSearchPage/VoyadoSearchPage.vue
  lib/components/molecules/VoyadoSearchResults/VoyadoSearchResults.vue
  lib/components/organisms/VoyadoFilterPanel/VoyadoFilterPanel.vue
  lib/components/organisms/VoyadoSearch/VoyadoSearch.vue
  lib/module.js
  lib/module.plugin.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, commitlint -E HUSKY_GIT_PARAMS

feat: all recommendations in same component
  README.md
  lib/components/molecules/VoyadoProductPageRecommendations/VoyadoProductPageRecommendations.vue
  lib/components/molecules/VoyadoRecommendations/VoyadoRecommendations.vue
  lib/module.plugin.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, commitlint -E HUSKY_GIT_PARAMS

feat: notifications progress
  lib/components/mixins/VoyadoProductPage.js
  lib/module.js
  lib/module.plugin.js
Due: eslint --fix, commitlint -E HUSKY_GIT_PARAMS
